.sc-player.playing .sc-controls a.sc-play,.sc-player .hidden, .sc-trackslist, .sc-waveform-container img,
.sc-artwork-list, .sc-info, .sc-info-toggle, .sc-time-indicators, .sc-volume-slider{
	display: none;
}

.sc-player {
	color:#333;
	display: none;
	font:700 1em/1 Arial, sans-serif;
	margin:20px 0;
	position: relative;
	width:100%;
}
.sc-player .subtitle{
	font-weight: normal;
	margin: 5px 0 0;
}

.sc-player .sc-controls {
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	height:20px;
	position: absolute;bottom:0;left:0;
	width:20px;
}

.sc-player .sc-controls a {
	color:#ccc;
	display:block;
	height:15px;
	padding: 5px 0 0;
	text-decoration: none;
	width:20px;
}

.sc-player .sc-controls a.sc-pause {
	display:none;
	font-size:1.6em;
}

.sc-player.playing .sc-controls a.sc-pause {
	display:block;
}


.sc-scrubber{
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	display: block;
	height: 20px;
	margin: 10px 0 0 20px;
	position: relative;
}
.sc-waveform-container{
	background: #eee;
	height:1px;
	position: absolute;top:10px;
	width: 100%;
}
.sc-played, .sc-buffer{
	background: #eee;
	height: 3px;
	position: absolute;top:9px;
	width: 0;
}
.sc-played{
	background: #ccc;
}

.sc-player-engine-container {
	height:1px;
	overflow: hidden;
	position:fixed;left:2px;top:2px;
	width:1px;
}
